@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800');
}

a {
  text-decoration: none !important;
}

textarea {
  height: 60px !important;
}
.margin-bottom-small {
  margin-bottom: 10px !important;
}

.MuiInputBase-multiline {
  padding: 0px !important;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif !important;
  background-color: #fff;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*MATERIAL UI THEME OVERRIDES*/
.MuiInputBase-input:focus {
  background-color: #fff !important;
}

/*COLOR*/
.color-dark-blue {
  color: #203652 !important;
}

/*CURSOR POINTER*/
.cursor-pointer {
  cursor: pointer;
}

.color-light-blue {
  color: #8CC5CC !important;
}

/*PADDING*/
.padding-top-xsmall {
  padding-top: 10px !important;
}

/*WIDTH*/
.full-width {
  width: 100% !important;
}

/*PADDING*/
.padding-bottom-xsmall {
  padding-bottom: 10px !important;
}

/*FLEX-BOX*/
.display-flex {
  display: flex !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.box-shadow {
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
}

/*TEXT-ALIGN-CENTER*/
.text-align-center {
  text-align: center !important;
}

/*MARGIN*/
.margin-top-xlarge {
	margin-top: 60px !important;
}

.container {
	padding-left: 25px !important;
	padding-right: 25px !important;
}

/*Section*/
.section,
.section-wide,
.section-widest {
  padding: 25px 20px;
  border-radius: 10px !important;
}

/*Background Color*/
.background-color-white {
  background-color: #fff !important;
}

/*Display none*/
.display-none {
  display: none !important;
}

.margin-auto {
  margin: 0 auto !important;
}

.margin-top-xsmall {
	margin-top: 5px !important;
}

.margin-top-small {
	margin-top: 20px !important;
}

/* iPhones(landscape) ----------- */
@media only screen and (min-width: 375px) {}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) {

  /*Section*/
	.section {
		padding: 50px 80px;
  }

  .container {
		margin: 0 auto !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
		width: 1000px !important;
	}

	.section-wide {
		padding: 50px;
	}
}

/* Tablets small laptops ----------- */
@media (min-width: 965px) {
  /****CUSTOM ELEMENTS****/
	.container {
		width: 1200px !important;
	}
}

/* Laptops ----------- */
@media only screen and (min-width: 1220px) {}
